footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 35px;
    width: auto;

    padding-top: 30px;
    color: #fff;
}

.footer-bottom p{
    float: left;
    position: relative;
    left: 40%;
        font-size: 20px;
        word-spacing: 4px;
    }
    .footer-bottom p a{
      color:#44bae8;
      font-size: 20px;
      text-decoration: none;
    }
    /* .footer-bottom span{
        text-transform: uppercase;
        opacity: .4;
        font-weight: 200;
    } */
  