footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 35px;
    width: auto;

    padding-top: 30px;
    color: #fff;
}

.footer-bottom p{
    float: left;
    position: relative;
    left: 40%;
        font-size: 20px;
        word-spacing: 4px;
    }
    .footer-bottom p a{
      color:#44bae8;
      font-size: 20px;
      text-decoration: none;
    }

    @media(max-width: 880px){
      .footer-bottom{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-bottom{
        width: 100%;
    }
    }